Source: gxde-default-settings
Section: admin
Priority: optional
Maintainer: gfdgd xi <3025613752@qq.com>, sysdev <sysdev@deepin.com>
Standards-Version: 3.9.4
Build-Depends: debhelper (>= 8.1.3~)

Package: gxde-default-settings
Architecture: all
Depends: ${misc:Depends}, deepin-artwork, gxde-default-settings-tuning(>= 2018.1.23), iw, gxde-wallpapers
Suggests: binfmt-support
Conflicts: chrome-default-settings,
 deepinop, deepin-default-settings-network, deepin-default-settings
Replaces: deepinop, deepin-default-settings-network
Description: default settings for deepin destkop environment
 This package does tweaking and to provide better experience of deepin desktop
 environment.

Package: gxde-default-settings-tuning
Architecture: all
Depends: ${misc:Depends} 
Replaces: deepin-default-settings
Conflicts: deepin-default-settings-tuning
Description: default settings for gxde destkop environment - misc overrides
 This package does tweaking and to provide better experience of gxde desktop
 environment.
 .
 This package includes files to override cups default page and fcitx icon.
